body{
    margin: 0px;
    padding: 0px;
    background-color: #CCCCCC;
    font-family: 'Open Sans', sans-serif;
}

.list{
    background-color: #444;
    text-align: right;
    padding: 0px;
    margin: 0px;
}

.listItem{
    font-size: 24px;
    height: 40px;
    padding: 20px;
    display: inline-block;
}

.link{
    text-decoration: none;
    color: #ffffff;
}